USE [master]
GO
/****** Object:  Database [PRO402_Sumativa1]    Script Date: 29/08/2022 13:59:23 ******/
CREATE DATABASE [PRO402_Sumativa1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRO402_Sumativa1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DOLZ\MSSQL\DATA\PRO402_Sumativa1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRO402_Sumativa1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DOLZ\MSSQL\DATA\PRO402_Sumativa1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRO402_Sumativa1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRO402_Sumativa1]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 29/08/2022 13:59:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Rut] [varchar](12) NOT NULL,
	[PrimerNombre] [varchar](50) NOT NULL,
	[SegundoNombre] [varchar](50) NULL,
	[ApellimoPaterno] [varchar](50) NOT NULL,
	[ApellidoMaterno] [varchar](50) NOT NULL,
	[Direccion] [varchar](200) NOT NULL,
	[Ciudad] [varchar](30) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](75) NULL,
	[FechaNacimiento] [date] NOT NULL,
	[EstadoCivil] [varchar](15) NOT NULL,
	[Comentarios] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
